/* 
    Created on : 29 sept 2022, 21:21:36
    Author     : Javier
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}


/* Homepage */

#homepageTop {
    height: 100px;
    width: 100%;
}

#homepageContent {
    width: 100%;
    margin: 0 auto;
}

#homepageLogo {
    font-size: 60px;
}

#homepage {
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

#homepageSearchBox {
    width: 600px;
    margin: 0px auto 10px;
}

#homepageSearchForm\:searchInput {
    width: 475px;
    font-size: 18px;
    margin-right: 5px;
}

#homepageSearchForm\:searchButton {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

#homepageSlogan {
    margin-top: 20px;
    font-size: 14px;
    color: gray;
}

#homepageActions {
    margin-top: 15px;
}

#addLink {
    margin-right: 10px;
}


/* Search results */

#searchLogo {
    margin-right: 15px;
    font-size: 20px;
}

#searchBox {
    display: flex; 
    justify-content: left;
    margin-top: 40px;
    margin-left: 40px;
}

#searchForm\:searchInput {
    width: 400px;
}

#searchForm\:searchButton {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#resultsHeader {
    margin-bottom: 30px;
    color: gray;
}

#results {
    margin-top: 40px;
    margin-left: 40px;
    display: table;
}

#resultsTable {
    border-spacing: 0 10px;
}

.resultsEntry {
    margin-bottom: 15px;
}

.resultsLink {
    font-size: 18px;
}

.resultsDefinition {
    margin-top: 5px;
}

.resultsContext {
    margin-top: 5px;    
}


/* Mindmap */

#contentContainer {
    width: 1050px;
    margin-top: 20px;
    margin-left: 20px;
}

#contentContainer #notFound {
    margin-top: 40px;
}

#contentContainer #actionPanel {
    width: 800px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: right;
}

#actionPanel a:link, a:visited {
    background-color: #ebebeb;
    color: #525252;
    text-decoration: none;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
}

#actionPanel a:hover {
    color: black;
}

#entry {
    display: table;
}

#entry .sideColumn {
    width: 375px;
}

#entry #termColumn {
    width: 300px;
    display: table-cell;
}

#termBox {
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#definitionToggle, #translationToggle, #contextToggle, #expertNetworkToggle, #resourcesToggle {
    cursor: pointer;
    width: 140px;
    height: 20px;
    display: block;
    padding-left: 5px;
    background-color: lightblue;
}

#translationToggle, #expertNetworkToggle, #resourcesToggle {
   margin-top: 20px; 
}

#definition, #translation, #context, #expertNetwork, #resources {
    display: none;
    border: 1px activecaption dashed;
    width: 300px;
    overflow: auto;
    padding: 10px;
    line-height: 1.3;
}

#definition {
    display: block;
}

.child {
    
}

connection {
    z-index: -1;
    border: 3px solid;
    border-radius: 7em;
    color: rgb(128, 128, 128);
    color: rgba(0, 0, 0, 0.5);
}


/* Footer */

#copyright {
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 40px;
    color: gray;
    font-size: 14px;
}


/* Login page */

#loginTop {
    height: 225px;
    width: 100%; 
}

#loginHeader {
    width: 400px;
    height: 25px;
    margin: 0 auto;
    font-size: 20px;
}

#loginBox {
    width: 400px;
    height: 325px;
    margin: 0 auto;
    background-color: lightblue;
}

#loginBox fieldset {
    padding-left: 45px;
    padding-top: 70px;
    border: 0;
}

#loginBox .label {
    display: inline-block;
    margin-bottom: 10px;
}

#loginBox fieldset .field {
    width: 250px;
}

#loginBox #j_username, #j_password {
    font-size: 16px;
    width: 300px;
}

#loginButton {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}


/* User header */

#userBar {
    margin-top: 25px;
    margin-bottom: 15px;
}

#userLogo {
    font-size: 20px;
}

#userBarPanel {
    display: inline-block;
    width: 750px;
    text-align: right;
    font-size: 14px;
}

#currentUser {
    margin-left: 7px;
    margin-right: 50px;
}

#userForm {
    display: inline;
    margin: 0;
    padding: 0;
}
#userForm a:link, a:visited {
    text-decoration: none;
    color: black;
}
#userForm a:hover {
    filter: opacity(60%);
}

#blueBar {
    width: 100%;
    height: 40px;
    background-color: lightblue;
    margin-bottom: 15px;
}


/* Add/edit entry page */

#entryForm {
    width: 800px;
}

#entryForm table {
    border-spacing: 0 10px;
    width: 100%;
}

#entryForm td {
    vertical-align: top;
}

#entryForm input[type=text] {
    width: 400px;
    font-size: 14px;
}

#entryForm input[readonly]{
    background-color: #ededed;
}

#entryForm textarea {
    width: 500px;
    height: 200px;
    display: block;
    font-size: 14px;
}

#submitPane {
    width: 660px;
    display: flex;
    justify-content: flex-end;
}

#entryForm\:submitButton {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

#entryForm .error {
    color: red;
    display: block;
    margin-bottom: 2px;
}